## 数据时间序列

    对于金融时间序列，通过以日期和时间为索引。比如：一段周期内的股票价格。本章基于DataFrame和Series对于对于时间序列数据的处理进行分析。

    通过NumPy产生符合正态分布的4列数据，一共9组：

In [4]:
import numpy as np
import pandas as pd
a = np.random.standard_normal((9, 4))
a.round(6)

array([[ 0.840714, -0.161328,  0.883852, -1.081878],
       [ 0.668495, -1.505457, -0.92047 ,  0.32836 ],
       [-0.432335,  0.153893, -0.632531, -1.197962],
       [-0.984301,  0.989159,  1.43038 ,  0.683963],
       [-0.719894,  0.705136,  0.296284,  0.825621],
       [-1.084608,  1.413212, -0.673816, -0.436184],
       [ 0.232442,  0.906716,  0.790316,  0.285571],
       [ 0.605089, -1.471492, -0.807196,  1.609611],
       [-1.024564, -0.014769, -0.586207,  1.123556]])

    通过上述的NumPy数组构建DataFrame:

In [5]:
df = pd.DataFrame(a)
df

          0         1         2         3
0  0.840714 -0.161328  0.883852 -1.081878
1  0.668495 -1.505457 -0.920470  0.328360
2 -0.432335  0.153893 -0.632531 -1.197962
3 -0.984301  0.989159  1.430380  0.683963
4 -0.719894  0.705136  0.296284  0.825621
5 -1.084608  1.413212 -0.673816 -0.436184
6  0.232442  0.906716  0.790316  0.285571
7  0.605089 -1.471492 -0.807196  1.609611
8 -1.024564 -0.014769 -0.586207  1.123556

[9 rows x 4 columns]

    默认列为[0,1,2,3]，每列的index索引为：0~8。对于列名重新命名：

In [7]:
df.columns = [['No1', 'No2', 'No3', 'No4']]
df

        No1       No2       No3       No4
0  0.840714 -0.161328  0.883852 -1.081878
1  0.668495 -1.505457 -0.920470  0.328360
2 -0.432335  0.153893 -0.632531 -1.197962
3 -0.984301  0.989159  1.430380  0.683963
4 -0.719894  0.705136  0.296284  0.825621
5 -1.084608  1.413212 -0.673816 -0.436184
6  0.232442  0.906716  0.790316  0.285571
7  0.605089 -1.471492 -0.807196  1.609611
8 -1.024564 -0.014769 -0.586207  1.123556

[9 rows x 4 columns]

    取出‘No2’列的所以为3的数据：

In [9]:
df['No2'][3]

0.98915900396196976

    将上述的数据按照日期进行索引，先生成日期索引，然后更换DataFrame中的索引：

In [13]:
dates = pd.date_range('2015-1-1', periods=9, freq='M')
dates
df.index=dates
df

                 No1       No2       No3       No4
2015-01-31  0.840714 -0.161328  0.883852 -1.081878
2015-02-28  0.668495 -1.505457 -0.920470  0.328360
2015-03-31 -0.432335  0.153893 -0.632531 -1.197962
2015-04-30 -0.984301  0.989159  1.430380  0.683963
2015-05-31 -0.719894  0.705136  0.296284  0.825621
2015-06-30 -1.084608  1.413212 -0.673816 -0.436184
2015-07-31  0.232442  0.906716  0.790316  0.285571
2015-08-31  0.605089 -1.471492 -0.807196  1.609611
2015-09-30 -1.024564 -0.014769 -0.586207  1.123556

[9 rows x 4 columns]

    按照月度的频率，一共生成9期。

    对于

In [14]:
df.sum()

No1   -1.898962
No2    1.015070
No3   -0.219387
No4    2.140657
dtype: float64